.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

@media screen and (min-device-width: 360px) and (max-device-width: 800px) {
  .headerOption {
    margin-right: 10px;
  }

  .headerOption__title {
    font-size: 10px;
    font-weight: 400;
  }

  .headerOption__icon {
    height: 18px !important;
    width: 18px !important;
  }
}
