.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body {
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1200px;
}

@media screen and (min-device-width: 360px) and (max-device-width: 800px) {
  .app__body {
    padding-right: 20px;
    padding-left: 20px;
  }
}
